.value-display {
	-fx-background-color: rgba(0, 0, 0, 0);
	-fx-padding: 0;
	-fx-spacing: 0;
	-fx-font-family: monospace;
}

.stack-element-cell {
	/*-fx-font-size: 150%;*/
}

.even {
	-fx-background-color: derive(white, -10%);
}

* {
	-fx-font-size: 150%;
}
