.pageview .scroll-bar:horizontal .track,
.pageview .scroll-bar:vertical .track{
	-fx-background-color:transparent;
	-fx-border-color:transparent;
	-fx-background-radius: 0em;
	-fx-border-radius:2em;
}

.pageview .scroll-bar:horizontal .increment-button ,
.pageview .scroll-bar:horizontal .decrement-button {
	-fx-background-color:transparent;
	-fx-background-radius: 0em;
	-fx-padding:0 0 10 0;
}

.pageview .scroll-bar:vertical .increment-button ,
.pageview .scroll-bar:vertical .decrement-button {
	-fx-background-color:transparent;
	-fx-background-radius: 0em;
	-fx-padding:0 10 0 0;
}
.pageview  .scroll-bar .increment-arrow,
.pageview  .scroll-bar .decrement-arrow{
	-fx-shape:" ";
	-fx-padding:0;
}

.pageview .scroll-bar:horizontal .thumb,
.pageview .scroll-bar:vertical .thumb {
	-fx-background-color:derive(black,90%);
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;
}